<div class="wrapper">
    <app-about></app-about>
    <div class="card" *ngFor="let product of products">
        <div class="price">{{product.article}}</div>
        <div class="product_name">{{product.productName}}</div>
        <div class="product_description">{{product.price}}</div>
        <div class="">{{product.quantity}}</div>
        <div class="">{{product.description}}</div>
        <div class="">{{product.manufacturer}}</div>
        <div class="">{{product.colour}}</div>
        <div class="">{{product.hashtags}}</div>
    </div>
</div>