<div class="header">
    <div class="block">
        <input class="input_product" [(ngModel)]="product" placeholder="Поиск" />
        <button [className]="condition ? 'bubbly-button animate' : 'bubbly-button'"
            (click)="sendProductData(product);">Поиск</button>
    </div>
</div>

<div class="container">
    <div [className]="enablingTheContainer ? 'filtering_panel' : 'none'">
        <div class="block_price_from_up">
            <div class="price">Цена:</div>
            <div class="container_price">
                <input class="from_what_price" [(ngModel)]="fromWhatPrice" placeholder="От " />
                <input class="up_to_what_price" [(ngModel)]="upToWhatPrice" placeholder="До " />
            </div>
            <button [className]="condition ? 'bubbly-button resetting_certain_styles animate' : 'bubbly-button resetting_certain_styles'"
            (click)="priceFiltering();">Применить</button>
        </div>
    </div>
    <div *ngIf="isFlag">
        <div class="card" *ngFor="let product of products">
            <div class="">{{product.article}}</div>
            <div class="">{{product.productName}}</div>
            <div class="">{{product.price}}</div>
            <div class="">{{product.quantity}}</div>
            <div class="">{{product.description}}</div>
            <div class="">{{product.manufacturer}}</div>
            <div class="">{{product.colour}}</div>
            <div class="">{{product.hashtags}}</div>
        </div>
    </div>
    <div *ngIf="!isFlag">
        <div class="card" *ngFor="let product of filteredListOfProducts"  >
            <div class="">{{product.article}}</div>
            <div class="">{{product.productName}}</div>
            <div class="">{{product.price}}</div>
            <div class="">{{product.quantity}}</div>
            <div class="">{{product.description}}</div>
            <div class="">{{product.manufacturer}}</div>
            <div class="">{{product.colour}}</div>
            <div class="">{{product.hashtags}}</div>
        </div>
    </div>
</div>